.clickable-row:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

table {
	left:25%;
	position:relative;
	border-collapse: collapse;
    width:50%;
    border: 1px solid #ddd;
}

textarea {
	position: relative;
	margin-left: 25%;
    background-color: #d9d9d9;
    padding:10px 0px 12px 10px;
    display:block;
    color: #284f27;
    font-size:17px;
    width:50%;
    border: 1px solid;
    border-radius: 3pt;
}

.nilai_seminar {
	position: relative;
	right:0% !important;
	font-size: 20px;
}
select {
	position: relative !important;
	z-index: 0 !important;
	margin-left: 0% !important;
	background-color: #284f27;
  color: #fff;
  max-height: 250px;
	border: 0 !important ;
  width: 100% !important ;
}

option {
	color:#fff;
	padding:10px 0px 10px 10px;
  font-size:15px;
}


.button-submit {
	position: relative;
	display: inline-block;
	background-color: #284f27;
	color: #fff;
	width: 20%;
    font-size: 20px;
    border: 0;
    padding:10px 0px 10px 0px;
    left: 35%;
    margin-top: 50px;
	margin-bottom: 100px;
	cursor: pointer;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #284f27;
    color: white;
}
